{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Django - index</title>
</head>
<body>
  <main>
  <img src="{% static 'img/django.png' %}" width="300px">
  <h1>Página index</h1>
  <h2>{{ main_page }}</h2>
  <h3>Usuário está logado: {{ login }}</h3>
  <table>
    <thead>
      <tr>
        <th>Produto</th>
        <th>Preço</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products%}
      <tr>
        <td><a href="{% url 'product' product.id %}">{{ product.name }}</a></td>
        <td>{{ product.price }}</td>
      {% endfor %}
      </tr>
    </tbody>
  </table>
  <br>
  <button class="myButton" onclick="openLink()">Acesse ao GitHub</button>
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</main>
</body>
</html>